body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/background-gruen.jpg');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-image: url('../Images/background-faded.jpg');
    border-radius: 30px;
    margin-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}
textarea{
    width: 500px;
}

a.disabled, a[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: line-through;
    display: none;
}

.company-box 
{
    /*border:solid #033c73 2px;*/
    background-color: #2fa4e7;
    padding:2px;
    border-radius:10px;
    margin:5px;
    position:relative;
}

.company-box-secondary
{
    background-color: #178acc;
    /*border-color:#022f5a;*/
}
.company-box h3, .company-box h4 {
    margin:10px;
}

.company-box ul {
    list-style:none;
    padding:0px;
}

.company-box ul li{
    background-color: white;
    border-radius:5px;
    margin:2px;
    padding: 1px 3px 1px 3px;
}

.company-box a.btn 
{
    float:right;
}

.company-box a:not(.btn) {
    color:#033c73;
    text-decoration:underline;
}

.todo::before
{
    content:"TODO";
    position:absolute;
    top: 0px;

    font-weight:900;
    color:red;
    font-size:10px;
}

.company-box-content{
    background-color: white;
    border-radius:5px;
    margin:2px;
    padding: 1px 3px 1px 3px;
}

.motivation {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #efbeef;
}
.navbar {
    /*background-color: pinkgreen;*/
     /*background: -webkit-linear-gradient(pink, green);
  background: -o-linear-gradient(pink, green); 
  background: -moz-linear-gradient(pink, green); 
  background: linear-gradient(pink, green); */
      background-color:purple;
}